/* All Results Page */
.result_table {
    margin: 50px 0;
}

.row {
    display: grid;
    padding: 20px 10px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    background: var(--navBackground);
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .row {
        grid-template-columns: repeat(2, auto);
        row-gap: 10px;
    }
}

.row .title {
    font-weight: bolder;
}