/* layout component */
.main {
    width: 100%;
}

.container {
    width: 75%;
    margin: 2rem auto 0;
}

.footer {
    text-align: center;
    background: var(--navBackground);
    padding: 1rem 0;
}