/* nav component */
nav {
  background-color: var(--navBackground);
  border-bottom: 1px solid #e5e5e5;
  z-index: 1;
  padding: 20px 0;
}

.nav {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 50px;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-weight: bolder;
}

.nav ul a {
  color: var(--fontPrimary);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .nav .brand img {
    width: 100px;
  }
}

/* account component */
.account {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

.account a {
  text-decoration: none;
  font-size: 1rem;
}


.account span {
  color: var(--fontPrimary);
  cursor: pointer;
}