/* quiz component */
.quiz {
    max-width: 400px;
    width: 100%;
    background-color: var(--card-bg);
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.quiz:hover {
    box-shadow: 0 0 15px 0 #e5e5e5;
}

.quiz p {
    font-weight: 500;
    margin: 0.5rem 0;
}

.quiz-desc {
    font-size: 0.8rem;
}

.quiz p span {
    position: relative;
    background: var(--successGreen);
    font-size: 0.9rem;
    margin-right: 5px;
    padding: 3px;
    border-radius: 50%;
    top: 2px;
}

.quiz img {
    width: 100%;
    object-fit: cover;
}

.quiz .qmeta {
    display: flex;
    justify-content: space-between;
}

.quiz .qmeta p {
    font-size: 15px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .quiz {
        width: 100%;
    }
}