.signup_col {
    display: flex;
    align-items: center;
}


.signup_img {
    width: 50%;
}

.signup {
    height: 100%;
    margin: 20px 0;
    width: 50%;
}

@media only screen and (max-width: 1023px) {
    .signup_col {
        flex-direction: column;
    }

    .signup {
        height: 100%;
        margin: 20px 0;
        width: 100%;
    }
}